<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAG</title>
    <link rel="icon" type=""image" href="  
        {{  url_for('static', filename='image.png')  }}
    ">
    <link rel="stylesheet" href="
        {{  url_for('static', filename='style.css')  }}
    ">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
</head>
<body>
    <div id="main-container">
        <div id="side-bar">
            <div id="sb-buttons-container">
                <button id="add-doc" class="button" onclick="createAddDocDialogBox()">
                    Add Document
                </button>
                <button id="new-chat" class="button" onclick="createNewChatDialogBox()">
                    New Chat
                </button>
            </div>
            <div id="sb-chat-history"></div>
            <div id="sb-credits">
                PCTD / SNPA / SNSCIG <br>
                Developed by Chetanya Jolly
            </div>
        </div>
        <div id="chat-window-container">
            <header id="chat-window-header">
                Vigyani Chatbot
            </header>
            <div id="chat-window"></div>
            <div id="query-box">
                Ask anything here
            </div>
        </div>
    </div> 
    <script src="{{  url_for('static', filename='socket.io.min.js')  }}"></script>
    <script src="{{  url_for('static', filename='scripts.js')  }}"></script>   
</body>
</html>